body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(244, 239, 239);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: gray;
}

nav img {
  height: 80%;
}

main {
  min-height: 70vh;
  padding: 10px;
}

footer {
  height: 20vh;
  background-color: rgb(244, 239, 239);
}

a {
  text-decoration: none;
  margin: 0 5px;
}

.active {
  color: orange;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 239, 239);
  color: orange;
  padding: 10px;
}

label {
  margin: 5px;
}